---
name: Security Scan

on: # yamllint disable-line rule:truthy
  push:
    branches: [${{ values.default_branch }}]
  pull_request:
    branches: [${{ values.default_branch }}]

concurrency:
  {% raw %}
  group: "${{ github.head_ref || github.ref }}-${{ github.workflow }}"
  {% endraw %}
  cancel-in-progress: true

jobs:
  security-scan:
    name: Bandit Security Scan
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      {%- if values.package_manager == 'poetry' %}
      - name: Install Poetry
        run: pipx install poetry==1.8.3
      {%- endif %}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          cache: ${{ values.package_manager }}
      {%- if values.package_manager == 'pipenv' %}

      - name: Install Pipenv
        run: pipx install pipenv==2025.0.3
      {%- endif %}

      - name: Install dependencies
        run: make install-dev

      - name: Security scan
        run: make security-scan
