---
name: Bandit Baseline Update

on: # yamllint disable-line rule:truthy
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  bandit-fix:
    name: Update Bandit baseline
    runs-on: ubuntu-22.04
    if: {% raw %}github.event.pull_request.head.repo.full_name == github.repository{% endraw %}
    steps:
      - uses: actions/checkout@v4
        with:
          token: {% raw %}${{ secrets.PAT_TOKEN || github.token }}{% endraw %}

      {%- if package_manager == 'poetry' %}
      - name: Install Poetry
        run: pipx install poetry==1.8.3
      {%- endif %}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          cache: {{ package_manager }}
      {%- if package_manager == 'pipenv' %}
      - name: Install Pipenv
        run: pipx install pipenv==2025.0.3
      {%- endif %}

      - name: Install deps
        run: make install-dev

      - name: Run Bandit and update baseline
        run: |
          # Generate / update baseline file
          bandit -r {{ module_name }} -f json -o bandit.baseline || true

      - name: Commit baseline
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: {% raw %}${{ github.head_ref || github.ref}}{% endraw %}
          commit_message: "chore: update Bandit baseline"
          file_pattern: bandit.baseline 