{
  {% if values.is_public_repo -%}
  "ignorePatterns": [],
  {%- else -%}
  "ignorePatterns": [
    {
      "pattern": "${{ values.repository_owner }}/${{ values.repository_name }}"
    }
  ],
  {%- endif %}
  "retryOn429": true,
  "retryCount": 3,
  "fallbackRetryDelay": "30s"
}
